.footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  margin-top: auto;
  left: 0;
  right: 0;
  min-height: 9vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #c5d6fc;
  padding: 0 1rem;
  box-shadow: -1px 0 4px 4px rgba(0, 0, 0, 0.1);
}

.footer div {
  min-width: 25%;
  text-align: left;
  white-space: nowrap;
}

@media (max-width: 670px) {
  .footer {
    justify-content: center;
  }
}
