.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20vw;
  height: 20vw;
  border: 20px solid white;
  /* #dbd6d6 */
  border-radius: 50%;
  border-top: 20px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
